/* Base Setup */
*{
    max-width: 100%;
}
img{
    object-fit: cover;
}

.numc{
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

.tablecard{
    margin-bottom: 0;
}

.tablem{
    margin-bottom: 10px;
}

.infotext{
    color: teal;
}

nav{
    background-color: white;
    margin-bottom: 40px;
}

footer{
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
    background-color: grey;
    color: white;
}

footer.p{
    margin: 0;
}